extends layout.pug
block content
    .question-wrapper
        p #{question} 
        .hidden-answer
            p Answer: #{answer} 
        if hint
            p
                i Hint: #{hint}
block links
    script(type="text/javascript", src="script.js")