doctype html
html
    head
        title Flashcards
        link(rel="stylesheet", href="style.css")
        block links
    body
        .wrapper-body
            .container
                include header.pug
                block content
                include footer.pug